/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgba(107, 160, 189, 0.386);
    font-family: Arial, Helvetica, sans-serif;
}

#geral {
    width: 650px;
    margin: 30px auto;
    background-color: rgba(95, 158, 160, 0.511);
}

#bloco1, #bloco2 {
    border: 3px solid rgba(0, 0, 0, 0.429);
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
}

img {
    width: 200px;
    border: 2px solid rgba(195, 9, 164, 0.963);
}

/*Entendendo POSITION*/

/* Fone de ouvido*/
#img1 {
    position: static; /*ignora parâmetros de movimento*/
    /* top: 100 px; / não funciona
    left: 100 px; / não funciona */
}

/*Position relative*/
    /*A posição do elemento é relativa da sua posição original*/
    /*OBS: o espaço original ocupado continua ocupado mesmo após movimentação*/
/*Mouse Pad*/
#img3 {
    position:relative;
    top: 100px;
    left: 100px;
}

/*Position absolute*/
    /*A posição do elemento é relativa ao seu elemento*/
    /*OBS: o espaço original ocupado livre após a movimentação*/
    /*Elemento pai -> Bloco 1*/
#bloco1 {
    position:relative;
}

    /*Elemento filho -> Imagem 2 (câmera)*/
#img2 {
    position:absolute;
    bottom:50px;
    left:50px;
}

/*Position fixed*/
/*mochila*/
#img4 {
    position:fixed;
}

/*
-----------------------
Z-INDEX
-----------------------
*/
/*Z-INDEX com os blocos 1 e 2*/

#bloco1 {
    position:relative;
}

#bloco2 {
    position:relative;
    top: -120px;
    left: 120px;
}

/*começando a partir daqui o z-index*/
#bloco1 {
    z-index: 1;
}

#bloco2 {
    z-index: 2;
}

